In [2]:
import pandas as pd

In [17]:
f1 = r"/home/cal/Documents/pandas_for_everyone/data/survey_person.csv"
f2 = r"/home/cal/Documents/pandas_for_everyone/data/scientists.csv"
f3 = r"/home/cal/Documents/pandas_for_everyone/data/gapminder.tsv"
df = pd.DataFrame.from_csv(f3, sep='\t')

df.head()

            continent  year  lifeExp       pop   gdpPercap
country
Afghanistan      Asia  1952   28.801   8425333  779.445314
Afghanistan      Asia  1957   30.332   9240934  820.853030
Afghanistan      Asia  1962   31.997  10267083  853.100710
Afghanistan      Asia  1967   34.020  11537966  836.197138
Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
df.shape

(1704, 5)

In [15]:
df.dtypes

continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object